[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
aiogram = "==3.0.0b7"
httpx = "*"
environs = "*"

[dev-packages]

[requires]
python_version = "3.10"
